:root {
  --myBlue: #1f2837;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navigation bar */
.navbar-dark {
  background-color: var(--myBlue);
}
.navbar {
  opacity: 0.9;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  padding: 5px;
  -webkit-box-shadow: 0 0 3px 3px rgba(253, 253, 253, 0.6);
  box-shadow: 0 0 3px 3px rgba(253, 253, 253, 0.6);
}
.top-image {
  margin: 0em;
}
/* twinkling stars animation on top image hover in the navigation bar */
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.imagewrapper {
  position: relative;
}

.twinkling{
  position: absolute;
  left: 175px;
  top:0px;
  width: 143px;
  height: 48px; 
background:transparent url(twinkling.png) repeat top center;
z-index:0;
}

.top-image:hover +.twinkling{
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
/*  */

/* Sign in, sign up forms */
.form-sign {
  max-width: 400px;
}

/* links on primary color */
.refOnPrimary {
  color: #cbc8cf;
  text-decoration-style: solid;
}

.textWarning {
  color: red;
}

.card {
  box-shadow: 3px 3px 2px #cbc8cf;
}

/* Store page*/
#filter-select {
  width: auto;
}
.line {
  margin:0.5em;
}

.card-product {
  max-width: 300px;
}

.buttonToCart {
  visibility: hidden;
}
.card-product:hover .buttonToCart {
  visibility: visible;
}
.card-product:hover {
  border-color: var(--myBlue);
  border-width: 2px;
}

/* Music page- cards with overlay*/
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c6d9ff;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.card-music:hover .overlay {
  width: 100%;
}
.text-album {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Cart page */
.text-total {
  text-align: right;
  color: var(--myBlue);
}

/*Contacts page  */
#map {
  height: 300px;
  width: 300px;
}

/*  Small devices (landscape phones, 576px and up) 
@media (max-width: 576px) { } */

/*Medium devices (tablets, 768px and up) */
@media screen and (max-width: 767px) {
  .carousel-caption {
    display: none; /* Hide the carousel text */
  }
  .imagewrapper {
    display: none;
  }
  /*  .nav-additional-text {
    display: none;
  } */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
